In [ ]:
# pip install plotly==5.10.0

In [ ]:
# pip install chart-studio==1.1.0

In [2]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py

os.chdir(r'C:\Users\monam\Desktop\dataitgirls 6\SQL\2차프로젝트')

In [3]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4239-0956

 C:\Users\monam\Desktop\dataitgirls 6\SQL\2차프로젝트 디렉터리

2022-08-28  오전 02:30    <DIR>          .
2022-08-24  오후 03:47    <DIR>          ..
2022-08-27  오전 12:29        36,127,865 articles.csv
2022-08-24  오전 09:40        38,868,304 articles.sql
2022-08-28  오전 02:30       207,135,859 customers.csv
2022-08-24  오전 09:41       226,300,230 customers.sql
2022-08-24  오후 06:57               254 SQL 데이터 탐색 및 전처리.sql
2022-08-24  오전 09:49     3,587,206,729 transactions.sql
2022-08-28  오전 02:30     3,488,002,253 transactions_train.csv
2022-08-11  오후 05:08               107 유용한사이트.txt
2022-08-23  오전 09:38               164 이메일주소.txt
               9개 파일       7,583,641,765 바이트
               2개 디렉터리  62,821,187,584 바이트 남음

In [4]:
articles = pd.read_csv('articles.csv')
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [105]:
article_cnt = articles.groupby(by=['product_group_name', 'product_type_name']).count()
article_cnt

                                       article_id  product_code  prod_name  \
product_group_name  product_type_name
Accessories         Accessories set             7             7          7
                    Alice band                  6             6          6
                    Baby Bib                    3             3          3
                    Bag                      1280          1280       1280
                    Beanie                     56            56         56
...                                           ...           ...        ...
Underwear           Underwear corset            7             7          7
                    Underwear set              47            47         47
Underwear/nightwear Sleep Bag                   6             6          6
                    Sleeping sack              48            48         48
Unknown             Unknown                   121           121        121

                                       product_type_no  \
product_group_name  product_type_name
Accessories         Accessories set                  7
                    Alice band                       6
                    Baby Bib                         3
                    Bag                           1280
                    Beanie                          56
...                                                ...
Underwear           Underwear corset                 7
                    Underwear set                   47
Underwear/nightwear Sleep Bag                        6
                    Sleeping sack                   48
Unknown             Unknown                        121

                                       graphical_appearance_no  \
product_group_name  product_type_name
Accessories         Accessories set                          7
                    Alice band                               6
                    Baby Bib                                 3
                    Bag                                   1280
                    Beanie                                  56
...                                                        ...
Underwear           Underwear corset                         7
                    Underwear set                           47
Underwear/nightwear Sleep Bag                                6
                    Sleeping sack                           48
Unknown             Unknown                                121

                                       graphical_appearance_name  \
product_group_name  product_type_name
Accessories         Accessories set                            7
                    Alice band                                 6
                    Baby Bib                                   3
                    Bag                                     1280
                    Beanie                                    56
...                                                          ...
Underwear           Underwear corset                           7
                    Underwear set                             47
Underwear/nightwear Sleep Bag                                  6
                    Sleeping sack                             48
Unknown             Unknown                                  121

                                       colour_group_code  colour_group_name  \
product_group_name  product_type_name
Accessories         Accessories set                    7                  7
                    Alice band                         6                  6
                    Baby Bib                           3                  3
                    Bag                             1280               1280
                    Beanie                            56                 56
...                                                  ...                ...
Underwear           Underwear corset                   7                  7
                    Underwear set                     47                 47
Underwear/nightwear Sleep Bag                          6                  6
                    Sleeping sack                     48                 48
Unknown             Unknown                          121                121

                                       perceived_colour_value_id  \
product_group_name  product_type_name
Accessories         Accessories set                            7
                    Alice band                                 6
                    Baby Bib                                   3
                    Bag                                     1280
                    Beanie                                    56
...                                                          ...
Underwear           Underwear corset                           7
                    Underwear set                             47
Underwear/nightwear Sleep Bag                                  6
                    Sleeping sack                             48
Unknown             Unknown                                  121

                                       perceived_colour_value_name  ...  \
product_group_name  product_type_name                               ...
Accessories         Accessories set                              7  ...
                    Alice band                                   6  ...
                    Baby Bib                                     3  ...
                    Bag                                       1280  ...
                    Beanie                                      56  ...
...                                                            ...  ...
Underwear           Underwear corset                             7  ...
                    Underwear set                               47  ...
Underwear/nightwear Sleep Bag                                    6  ...
                    Sleeping sack                               48  ...
Unknown             Unknown                                    121  ...

                                       department_name  index_code  \
product_group_name  product_type_name
Accessories         Accessories set                  7           7
                    Alice band                       6           6
                    Baby Bib                         3           3
                    Bag                           1280        1280
                    Beanie                          56          56
...                                                ...         ...
Underwear           Underwear corset                 7           7
                    Underwear set                   47          47
Underwear/nightwear Sleep Bag                        6           6
                    Sleeping sack                   48          48
Unknown             Unknown                        121         121

                                       index_name  index_group_no  \
product_group_name  product_type_name
Accessories         Accessories set             7               7
                    Alice band                  6               6
                    Baby Bib                    3               3
                    Bag                      1280            1280
                    Beanie                     56              56
...                                           ...             ...
Underwear           Underwear corset            7               7
                    Underwear set              47              47
Underwear/nightwear Sleep Bag                   6               6
                    Sleeping sack              48              48
Unknown             Unknown                   121             121

                                       index_group_name  section_no  \
product_group_name  product_type_name
Accessories         Accessories set                   7           7
                    Alice band                        6           6
                    Baby Bib                          3           3
                    Bag                            1280        1280
                    Beanie                           56          56
...                                                 ...         ...
Underwear           Underwear corset                  7           7
                    Underwear set                    47          47
Underwear/nightwear Sleep Bag                         6           6
                    Sleeping sack                    48          48
Unknown             Unknown                         121         121

                                       section_name  garment_group_no  \
product_group_name  product_type_name
Accessories         Accessories set               7                 7
                    Alice band                    6                 6
                    Baby Bib                      3                 3
                    Bag                        1280              1280
                    Beanie                       56                56
...                                             ...               ...
Underwear           Underwear corset              7                 7
                    Underwear set                47                47
Underwear/nightwear Sleep Bag                     6                 6
                    Sleeping sack                48                48
Unknown             Unknown                     121               121

                                       garment_group_name  detail_desc
product_group_name  product_type_name
Accessories         Accessories set                     7            7
                    Alice band                          6            6
                    Baby Bib                            3            3
                    Bag                              1280         1279
                    Beanie                             56           56
...                                                   ...          ...
Underwear           Underwear corset                    7            7
                    Underwear set                      47           47
Underwear/nightwear Sleep Bag                           6            6
                    Sleeping sack                      48           48
Unknown             Unknown                           121          121

[132 rows x 23 columns]

In [ ]:
article_cnt.product_group_name.unique()

In [ ]:
article_dict = article_cnt.to_dict()

In [ ]:
article_cnt.loc['Accessories'].reset_index()

In [ ]:
articles['prod_name'].nunique()

## articles 분석 계획

1. product_type_name	카테고리명(소분류)
    
    product_group_name	카테고리명(대분류)


2. perceived_colour_master_name	상품의 컬러(대분류)


3. graphical_appearance_name	상품의 패턴명


4. department_name	상품 라인 이름


5. index_name	상품 타겟 그룹 명
    
    index_group_name	타겟에 따른 상품 카테고리
    

6. section_name	상품 무드(콘셉트)


7. garment_group_name	상품군 명

In [104]:
articles.info()
#Null없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [129]:
top10_prod_type=articles.groupby(['product_group_name', 'product_type_name']).count().article_id.reset_index().sort_values(by='article_id', ascending=False)
print(top10_prod_type.head(10))
print(top10_prod_type.tail(10))

    product_group_name product_type_name  article_id
58  Garment Lower body          Trousers       11169
49   Garment Full body             Dress       10362
69  Garment Upper body           Sweater        9302
70  Garment Upper body           T-shirt        7904
72  Garment Upper body               Top        4155
60  Garment Upper body            Blouse        3979
65  Garment Upper body            Jacket        3940
56  Garment Lower body            Shorts        3939
68  Garment Upper body             Shirt        3405
73  Garment Upper body          Vest top        2991
        product_group_name product_type_name  article_id
119              Underwear      Bra extender           1
75   Garment and Shoe care        Sewing kit           1
25             Accessories          Headband           1
78   Garment and Shoe care        Wood balls           1
102                  Shoes       Pre-walkers           1
80        Interior textile           Blanket           1
81        Interior textile           Cushion           1
39                    Bags            Bumbag           1
84                   Items          Keychain           1
77   Garment and Shoe care       Washing bag           1

In [131]:
print(articles.perceived_colour_master_name.unique())
print(articles.perceived_colour_value_name.unique())

['Black' 'White' 'Beige' 'Grey' 'Blue' 'Pink' 'Lilac Purple' 'Red' 'Mole'
 'Orange' 'Metal' 'Brown' 'Turquoise' 'Yellow' 'Khaki green' 'Green'
 'undefined' 'Unknown' 'Yellowish Green' 'Bluish Green']
['Dark' 'Light' 'Dusty Light' 'Medium Dusty' 'Bright' 'Medium' 'Undefined'
 'Unknown']

In [142]:
#컬러 많은 순서
articles.groupby('perceived_colour_master_name').count().article_id.reset_index().sort_values(by='article_id', ascending=False)

   perceived_colour_master_name  article_id
1                         Black       22585
2                          Blue       18469
16                        White       12665
12                         Pink        9403
6                          Grey        8924
13                          Red        5878
0                         Beige        5657
5                         Green        3526
7                   Khaki green        3181
17                       Yellow        3121
11                       Orange        2734
4                         Brown        2269
9                         Metal        2180
14                    Turquoise        1829
10                         Mole        1223
8                  Lilac Purple        1100
15                      Unknown         685
19                    undefined         105
18              Yellowish Green           5
3                  Bluish Green           3

In [143]:
#color group name으로 쫌 더 세분화된 분류 개수 dark blue가 많고, trousers가 많은걸 보니, 청바지류가 많은듯?
articles.groupby('colour_group_name').count().article_id.reset_index().sort_values(by='article_id', ascending=False)

   colour_group_name  article_id
1              Black       22670
5          Dark Blue       12171
47             White        9542
24        Light Pink        5811
17              Grey        4487
19       Light Beige        3356
2               Blue        3308
42               Red        3056
20        Light Blue        3012
16    Greenish Khaki        2767
7          Dark Grey        2731
29         Off White        2726
0              Beige        2712
11          Dark Red        2340
6         Dark Green        2106
22        Light Grey        2105
40              Pink        2063
48            Yellow        1645
23      Light Orange        1520
49   Yellowish Brown        1471
14              Gold        1377
4         Dark Beige        1084
27   Light Turquoise        1027
28      Light Yellow         984
8        Dark Orange         886
9          Dark Pink         818
15             Green         815
30            Orange         779
35        Other Pink         750
43            Silver         709
21       Light Green         681
13       Dark Yellow         574
25      Light Purple         553
12    Dark Turquoise         473
45         Turquoise         435
10       Dark Purple         315
26         Light Red         285
18     Greyish Beige         226
39      Other Yellow         225
41            Purple         182
34      Other Orange         153
33       Other Green         129
37         Other Red         114
31             Other         105
3      Bronze/Copper          94
32        Other Blue          51
36      Other Purple          46
44       Transparent          31
46           Unknown          28
38   Other Turquoise          14

In [180]:
#Dark Blue와 Trousers가 많아서 청바지 복종이 많은 줄 알았는데
#그렇지도 않은 코드
articles[['prod_name', 'product_type_name']][(articles['colour_group_name'] == 'Dark Blue') & (articles['perceived_colour_master_name'] == 'Blue') & (articles['product_type_name'] == 'Trousers')].drop_duplicates()
#SELECT distinct prod_name, product_type_name
# FROM articles
# WHERE colour_group_name = 'Dark Blue'
#     AND perceived_colour_master_name = 'Blue'
#     AND product_type_name = Trousers

                        prod_name product_type_name
147                Harem trousers          Trousers
278     Dean Drawstring Trousers.          Trousers
490            Skinny Ankel Denim          Trousers
567     Kim superskinny low waist          Trousers
863           Sanne treggings (1)          Trousers
...                           ...               ...
104799                Mom fit (D)          Trousers
104892  GRAY SLIM PQ COTTON CHINO          Trousers
105253           Mason pull on RW          Trousers
105257       JURGEN sweatpants BB          Trousers
105313          Joe chinos  2PACK          Trousers

[1454 rows x 2 columns]

In [182]:
pd.DataFrame(articles['department_name'].unique())
#무려 250개의 라인

                             0
0                 Jersey Basic
1               Clean Lingerie
2                 Tights basic
3                  Baby basics
4              Casual Lingerie
..                         ...
245  Baby Girl Local Relevance
246            EQ Divided Blue
247         Kids Boy Exclusive
248          Accessories Other
249                     Blanks

[250 rows x 1 columns]

In [192]:
pd.DataFrame(articles.groupby('department_name').count().article_id).sort_values(by='article_id', ascending=False).head(10)
#상위 10개 순서대로 정렬

                         article_id
department_name
Jersey                         4604
Knitwear                       3503
Trouser                        2655
Blouse                         2362
Dress                          2087
Swimwear                       2075
Kids Girl Jersey Fancy         2032
Expressive Lingerie            1921
Young Girl Jersey Fancy        1874
Jersey Fancy                   1754

In [193]:
pd.DataFrame(articles['index_name'].unique())
#무려 250개의 라인

                                0
0                      Ladieswear
1                Lingeries/Tights
2                Baby Sizes 50-98
3                        Menswear
4              Ladies Accessories
5                           Sport
6           Children Sizes 92-140
7                         Divided
8          Children Sizes 134-170
9  Children Accessories, Swimwear

In [201]:
pd.DataFrame(articles.groupby(by=['index_group_name', 'index_name']).count().article_id).sort_values(by=['index_group_name','article_id'], ascending=False).head(10)
#상위 10개 순서대로 정렬, 여성복 압도적

                                                 article_id
index_group_name index_name
Sport            Sport                                 3392
Menswear         Menswear                             12553
Ladieswear       Ladieswear                           26001
                 Ladies Accessories                    6961
                 Lingeries/Tights                      6775
Divided          Divided                              15149
Baby/Children    Children Sizes 92-140                12007
                 Children Sizes 134-170                9214
                 Baby Sizes 50-98                      8875
                 Children Accessories, Swimwear        4615

In [202]:
pd.DataFrame(articles['section_name'].unique())  #55개

                                 0
0           Womens Everyday Basics
1                  Womens Lingerie
2   Womens Nightwear, Socks & Tigh
3    Baby Essentials & Complements
4                    Men Underwear
5                             Mama
6         Womens Small accessories
7                    Men H&M Sport
8                         Kids Boy
9                   Divided Basics
10        Girls Underwear & Basics
11                  Mens Outerwear
12          Womens Big accessories
13             Divided Accessories
14      Womens Swimwear, beachwear
15                Divided Selected
16         Boys Underwear & Basics
17             Contemporary Street
18             Contemporary Casual
19                 Men Accessories
20           Men Suits & Tailoring
21      Womens Everyday Collection
22                       Men Shoes
23                       Young Boy
24                            H&M+
25              Divided Collection
26                    Ladies Denim
27              Contemporary Smart
28                    Womens Trend
29                  Kids Outerwear
30                      Young Girl
31                    Womens Shoes
32                Womens Tailoring
33                Divided Projects
34                       Denim Men
35                       Men Other
36                  Womens Jackets
37                     Men Other 2
38                        Baby Boy
39                   Womens Casual
40  Kids Accessories, Swimwear & D
41                Ladies H&M Sport
42               Kids & Baby Shoes
43                       Baby Girl
44                       Kids Girl
45       Divided Complements Other
46                  Womens Premium
47             Special Collections
48                     Kids Sports
49                     Men Project
50                     Men Edition
51                  Collaborations
52               Divided Asia keys
53                      EQ Divided
54            Kids Local Relevance
55                    Ladies Other

In [203]:
pd.DataFrame(articles.groupby('section_name').count().article_id).sort_values(by='article_id', ascending=False).head(10)

                               article_id
section_name
Womens Everyday Collection           7295
Divided Collection                   7124
Baby Essentials & Complements        4932
Kids Girl                            4469
Young Girl                           3899
Womens Lingerie                      3598
Girls Underwear & Basics             3490
Womens Tailoring                     3376
Kids Boy                             3328
Womens Small accessories             3270

In [205]:
pd.DataFrame(articles['garment_group_name'].unique())  #20개

                                0
0                    Jersey Basic
1               Under-, Nightwear
2                Socks and Tights
3                    Jersey Fancy
4                     Accessories
5                  Trousers Denim
6                         Outdoor
7                           Shoes
8                        Swimwear
9                        Knitwear
10                         Shirts
11                       Trousers
12                        Dressed
13                         Shorts
14                 Dresses Ladies
15                         Skirts
16                 Special Offers
17                        Blouses
18                        Unknown
19  Woven/Jersey/Knitted mix Baby
20           Dresses/Skirts girls

In [214]:
pd.set_option('display.max_rows', 251)

In [218]:
articles[['garment_group_name', 'department_name', 'article_id']].groupby(by = ['garment_group_name', 'department_name']).count().sort_values(by='article_id', ascending=False)
#garment와 department 나눠보기
#그룹별로 보고싶으면 sort_values 지우기

                                                                        article_id
garment_group_name            department_name
Jersey Fancy                  Jersey                                          4604
Knitwear                      Knitwear                                        3503
Trousers                      Trouser                                         2655
Blouses                       Blouse                                          2362
Dresses Ladies                Dress                                           2087
Swimwear                      Swimwear                                        2075
Jersey Fancy                  Kids Girl Jersey Fancy                          2032
Under-, Nightwear             Expressive Lingerie                             1921
Jersey Fancy                  Young Girl Jersey Fancy                         1874
                              Jersey Fancy                                    1754
Jersey Basic                  Jersey Basic                                    1514
Jersey Fancy                  Kids Boy Jersey Fancy                           1488
                              Tops Fancy Jersey                               1429
                              Jersey fancy                                    1402
Dresses Ladies                Dresses                                         1354
Jersey Basic                  Basic 1                                         1339
Accessories                   Jewellery                                       1163
Shirts                        Shirt                                           1153
Jersey Basic                  Baby basics                                     1147
Knitwear                      Tops Knitwear                                   1115
Jersey Fancy                  Young Boy Jersey Fancy                          1100
Jersey Basic                  Kids Girl Jersey Basic                          1098
Accessories                   Baby Toys/Acc                                   1054
Outdoor                       Outwear                                         1009
Blouses                       Tops Woven                                      1007
Jersey Fancy                  Ladies Sport Bras                               1006
Woven/Jersey/Knitted mix Baby Baby Exclusive                                   944
Blouses                       Blouse & Dress                                   897
Dresses/Skirts girls          Kids Girl Dresses                                879
Accessories                   Small Accessories                                873
Jersey Fancy                  Baby Boy Jersey Fancy                            872
Under-, Nightwear             Casual Lingerie                                  864
Jersey Fancy                  Baby Girl Jersey Fancy                           859
                              Newborn                                          853
Shorts                        Shorts                                           849
Accessories                   Bags                                             820
Jersey Basic                  Young Girl Jersey Basic                          813
Trousers                      Trousers                                         807
Skirts                        Skirt                                            726
Accessories                   Hair Accessories                                 719
                              Accessories                                      694
Trousers                      Woven bottoms                                    693
Under-, Nightwear             Nightwear                                        687
Blouses                       Woven top                                        683
Accessories                   Jewellery Extended                               675
Jersey Basic                  Kids Boy Jersey Basic                            673
Outdoor                       Outdoor/Blazers                                  667
Dresses/Skirts girls          Young Girl Dresses                               662
Knitwear                      Kids Girl Knitwear                               658
Accessories                   Girls Small Acc/Bags                             653
Shoes                         Kids Girl Shoes                                  628
Unknown                       Divided+                                         590
Dresses Ladies                Projects Dresses                                 554
Blouses                       Woven Tops                                       550
Under-, Nightwear             Kids Girl UW/NW                                  534
Shoes                         Flats                                            533
Jersey Basic                  Light Basic Jersey                               528
Woven/Jersey/Knitted mix Baby Baby Girl Woven                                  521
Knitwear                      Young Girl Knitwear                              513
Accessories                   Knit & Woven                                     512
Trousers Denim                Denim Trousers                                   504
Unknown                       Take Care External                               501
Woven/Jersey/Knitted mix Baby Baby Boy Woven                                   500
Under-, Nightwear             Young Girl UW/NW                                 499
Skirts                        Skirts                                           489
Jersey Fancy                  Ladies Sport Bottoms                             468
Socks and Tights              Baby Socks                                       465
Jersey Basic                  Young Boy Jersey Basic                           462
Shoes                         Baby Shoes                                       457
Trousers                      Kids Boy Trouser                                 453
Shoes                         Kids Boy Shoes                                   446
                              Shoes                                            443
Outdoor                       Kids Girl Outdoor                                436
Shoes                         Premium Quality                                  432
Trousers                      Kids Girl Trouser                                424
Trousers Denim                Young Girl Denim                                 421
Under-, Nightwear             Baby Nightwear                                   420
Unknown                       Equatorial Assortment                            412
Trousers Denim                Kids Girl Denim                                  410
Trousers                      Young Girl Trouser                               408
Trousers Denim                Kids Boy Denim                                   402
Accessories                   Kids Girl Big Acc                                402
Trousers Denim                Denim trousers                                   398
Accessories                   Kids Boy Big Acc                                 398
Outdoor                       Kids Boy Outdoor                                 394
Shirts                        Kids Boy Shirt                                   392
Shoes                         Heels                                            390
Jersey Fancy                  Projects Jersey & Knitwear                       388
Knitwear                      Jersey/Knitwear Premium                          380
Accessories                   Belts                                            374
Socks and Tights              Kids Girl S&T                                    373
Trousers Denim                Denim Other Garments                             370
Unknown                       Woven Premium                                    370
Dresses Ladies                Woven Occasion                                   370
Trousers                      Trousers & Skirt                                 365
Shoes                         Boots                                            365
Under-, Nightwear             Kids Boy UW/NW                                   364
Trousers Denim                Young Boy Denim                                  363
Accessories                   Scarves                                          357
                              Gloves/Hats                                      356
Outdoor                       Young Girl Outdoor                               355
Accessories                   Other items                                      353
Under-, Nightwear             Loungewear                                       350
Unknown                       Studio Collection                                319
Knitwear                      Kids Boy Knitwear                                308
Shoes                         Sneakers                                         306
Under-, Nightwear             Functional Lingerie                              300
Jersey Fancy                  Men Sport Woven                                  300
Dressed                       Suit                                             299
Under-, Nightwear             UW                                               293
                              Underwear Jersey                                 291
Shirts                        Young Boy Shirt                                  290
Under-, Nightwear             Young Boy UW/NW                                  290
Shoes                         Young Girl Shoes                                 287
Blouses                       Projects Woven Tops                              287
Jersey Basic                  Basics                                           284
Accessories                   Other Accessories                                282
Outdoor                       Young Boy Outdoor                                281
Shoes                         Divided Shoes                                    275
Unknown                       Tops Girls                                       275
Trousers                      Projects Woven Bottoms                           272
Dresses Ladies                Dresses DS                                       272
Trousers                      Young Boy Trouser                                271
Accessories                   Sunglasses                                       269
Unknown                       Bottoms Girls                                    269
Jersey Fancy                  Jersey Fancy DS                                  269
Accessories                   Kids Dress-up/Football                           262
Shoes                         Young Boy Shoes                                  260
Knitwear                      Baby Girl Knitwear                               257
Outdoor                       Men Sport Tops                                   248
Accessories                   Ladies Sport Acc                                 247
Under-, Nightwear             Clean Lingerie                                   238
Dressed                       Suit jacket                                      238
Outdoor                       Jacket Smart                                     233
Shorts                        Kids Boy Shorts                                  225
Jersey Fancy                  Jersey inactive from s1                          224
Socks and Tights              Tights basic                                     223
Knitwear                      Knitwear Basic                                   222
Special Offers                Campaigns                                        221
Under-, Nightwear             Mama Lingerie                                    219
Socks and Tights              Socks                                            216
Unknown                       Projects                                         213
Socks and Tights              Shopbasket Socks                                 212
Jersey Basic                  Heavy Basic Jersey                               206
Outdoor                       Baby Boy Outdoor                                 205
Shoes                         Shoes / Boots inactive from s5                   202
Accessories                   Young Girl Big Acc                               202
Outdoor                       Jacket Casual                                    201
Jersey Fancy                  Men Sport Bottoms                                200
Swimwear                      Kids Girl Swimwear                               197
Accessories                   Young Boy Big Acc                                197
Special Offers                Conscious Exclusive                              192
Socks and Tights              Socks Wall                                       183
                              Socks Bin                                        182
Shorts                        Shorts & Skirts                                  177
Swimwear                      Young Girl Swimwear                              175
Socks and Tights              Young Girl S&T                                   173
Unknown                       Ladies Sport Woven                               172
Shorts                        Young Boy Shorts                                 166
Knitwear                      Young Boy Knitwear                               162
Socks and Tights              Kids Boy Socks                                   155
Knitwear                      Tops Knitwear DS                                 153
Accessories                   Bags & Items                                     153
Swimwear                      Kids Boy Swimwear                                150
Dresses Ladies                Jersey Occasion                                  150
Trousers Denim                OL Extended Sizes                                147
Dressed                       Blazer S&T                                       142
Shirts                        Shirt S&T                                        141
Knitwear                      Baby Boy Knitwear                                140
Dressed                       Blazer                                           139
Jersey Fancy                  Nursing                                          139
Shirts                        Woven                                            139
Special Offers                Limited Edition                                  138
Accessories                   Small Bags                                       128
Outdoor                       Jacket Street                                    128
Unknown                       EQ H&M Man                                       127
Accessories                   Men Sport Acc                                    124
Shorts                        Denim shorts                                     123
Outdoor                       Baby Girl Outdoor                                123
Trousers                      Trouser S&T                                      116
Special Offers                Promotion/ Other /Offer                          115
Swimwear                      Young boy Swimwear                               114
Under-, Nightwear             Underwear Woven                                  107
Special Offers                Boys Local Relevance                             106
Outdoor                       Outdoor/Blazers DS                               103
Unknown                       Asia Assortment                                  101
                              Read & React                                      90
Socks and Tights              Young Boy Socks                                   90
Trousers                      AK Bottoms                                        90
Jersey Fancy                  Jersey License                                    89
Accessories                   Dress-up Boys                                     89
Dresses Ladies                AK Dresses & Outdoor                              87
Dressed                       Outwear & Blazers                                 87
Unknown                       Local relevance                                   85
Trousers                      Trousers DS                                       84
Trousers Denim                Everyday Waredrobe Denim                          80
Accessories                   Small Accessories Extended                        80
Swimwear                      Divided Swimwear                                  76
Special Offers                Girls Local Relevance                             70
Outdoor                       Jacket                                            67
Special Offers                Kids Girl Exclusive                               63
Unknown                       Denim wardrobe H&M man inactive from S.6          63
Trousers                      Woven inactive from s1                            62
Unknown                       Kids Boy Exclusive                                59
                              Take care                                         58
Under-, Nightwear             Shopbasket Lingerie                               56
Shoes                         Boys Small Acc & Bags                             55
Blouses                       Tops woven DS                                     52
Knitwear                      Knitwear inactive from s1                         51
Special Offers                Promotion / Other / Offer                         49
Unknown                       Tops Boys                                         45
Jersey Fancy                  AK Tops Jersey & Woven                            42
Unknown                       Equatorial                                        42
Skirts                        Skirts DS                                         39
Shoes                         Sneakers small girl inactive from s2              39
Accessories                   EQ & Special Collections                          36
                              Small Acc. Jewellery & Other                      36
Outdoor                       Outdoor inactive from s1                          35
Special Offers                Special Collection                                33
                              AK Other                                          33
Knitwear                      AK Tops Knitwear                                  28
Jersey Fancy                  On Demand                                         27
Unknown                       Bottoms Boys                                      27
Trousers                      Bottoms                                           26
Unknown                       Price Items                                       26
Special Offers                Promotion/Other/Offer                             25
Unknown                       Divided+ inactive from s.1                        25
Shoes                         Sneakers big girl inactive from s2                25
Jersey Fancy                  License                                           21
Jersey Basic                  Blanks                                            20
Shorts                        Shorts DS                                         19
Outdoor                       Jackets                                           16
Jersey Basic                  OL Extended Sizes                                 15
                              EQ Divided Basics                                 14
                              Tops & Bottoms Other                              13
Accessories                   Accessories Boys                                  10
Under-, Nightwear             Underwear Jersey Fancy inactive from s1            8
Special Offers                Girls Projects                                     7
                              Baby Girl Local Relevance                          6

## customer  분석 계획

In [6]:
customers = pd.read_csv('customers.csv')
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [9]:
#전체 행의 개수 및 각 컬럼의 개수 파악
customers.count()

customer_id               1371980
FN                         476930
Active                     464404
club_member_status        1365918
fashion_news_frequency    1355971
age                       1356119
postal_code               1371980
dtype: int64

In [10]:
#클럽멤버상태의 unique값 뽑아보기
customers.club_member_status.unique()

array(['ACTIVE', nan, 'PRE-CREATE', 'LEFT CLUB'], dtype=object)

In [11]:
#패션뉴스를 구독 컬럼의 unique값 뽑아보기
customers.fashion_news_frequency.unique()

array(['NONE', 'Regularly', nan, 'Monthly', 'None'], dtype=object)

In [30]:
#NONE과 None인 값만 가지고와서 작업할 데이터 프레임 만들기 (실행 규모를 줄이기 위함)
n_none=customers[(customers['fashion_news_frequency'] == 'NONE') | (customers['fashion_news_frequency'] == 'None')]
n_none

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
6,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,NaN,NaN,ACTIVE,NONE,20.0,fe7b8e2b3fafb89ca90db17ffeeae0fd29b795d803f749...
...,...,...,...,...,...,...,...
1371968,ffff4c4e8b57b633c1ddf8fbd53db16b962cf831baf9ed...,NaN,NaN,ACTIVE,NONE,40.0,3b4a300713f8b142836a67caa5b6d5b3f10a7650c06820...
1371972,ffff8f9ecdce722b5bab97fff68a6d1866492209bfe524...,NaN,NaN,ACTIVE,NONE,52.0,0de9d1ec7dc785301ca5fbe8949cfc2cfbd77e7a807270...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [38]:
#value_counts()를 통해 None과 NONE의 개수를 파악
n_none.fashion_news_frequency.value_counts()

NONE    877711
None         2
Name: fashion_news_frequency, dtype: int64

In [100]:
#깜빡하고 첨에 확인 안했는데, 원래는 값이 적은 None 을 가지고와서 NONE으로 바꿔줘도 되는지 데이터 살펴봐야함
n_none[n_none['fashion_news_frequency'] == 'None']

Empty DataFrame
Columns: [customer_id, FN, Active, club_member_status, fashion_news_frequency, age, postal_code, False]
Index: []

In [48]:
customers['fashion_news_frequency'][customers['fashion_news_frequency'] == 'None'] = 'NONE'
#None이면 NONE 으로 변경해주라

C:\Users\monam\AppData\Local\Temp/ipykernel_62228/4235207302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['fashion_news_frequency'][customers['fashion_news_frequency'] == 'None'] = 'NONE'

In [51]:
#변수 이름 약간 잘못 지었는데, 암튼 fashion frequency에서 각각의 항목이 얼만큼의 비중을 차지하는지 확인하기 위해 데이터 프레임 생성
#첨에는 데이터프레임 잘 만들어지나 확인하려고 단계적으로 변수에 넣어서 지정
#다음 코드에서는 한 줄에 그냥 나타내도 됨
vc_customers = customers.fashion_news_frequency.value_counts()

In [54]:
#데이터프레임 만들기
vc_customers = pd.DataFrame(vc_customers)

In [55]:
vc_customers

           fashion_news_frequency
NONE                       877713
Regularly                  477416
Monthly                       842

In [74]:
#percentage 컬럼 생성, 컬럼 정의 (백분율입니다)
vc_customers['percentage'] = round((vc_customers['fashion_news_frequency']*100) / sum(vc_customers['fashion_news_frequency'])).astype('str') + '%'
#반올림처리 후 데이터타입을 str으로 바꿔주고, % 기호를 추가하여 더 깔끔하게 보이도록 함

In [75]:
vc_customers
#잡지 구독하는 고객들 비중

           fashion_news_frequency percentage
NONE                       877713      65.0%
Regularly                  477416      35.0%
Monthly                       842       0.0%

In [76]:
#고객 상태는 그냥 한 번에 데이터프레임으로 만들어줌 (만약에 이렇게 확인할 수 있는 컬럼이 더 있었다면 함수로 만들어줬을듯)
status = pd.DataFrame(customers.club_member_status.value_counts())
status

            club_member_status
ACTIVE                 1272491
PRE-CREATE               92960
LEFT CLUB                  467

In [78]:
status['percentage'] = round((status['club_member_status']*100) / sum(status['club_member_status'])).astype('str') + '%'

In [91]:
status.set_index(keys='index')

            club_member_status percentage
index
ACTIVE                 1272491      93.0%
PRE-CREATE               92960       7.0%
LEFT CLUB                  467       0.0%

In [98]:
#customer의 평균 나이
print('cusotmer의 평균 나이: ', round(customers.age.mean(),2), '세')

cusotmer의 평균 나이:  36.39 세