In [ ]:
# pip install plotly==5.10.0

In [ ]:
# pip install chart-studio==1.1.0

In [2]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py

os.chdir(r'C:\Users\monam\Desktop\dataitgirls 6\SQL\2차프로젝트')

In [3]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4239-0956

 C:\Users\monam\Desktop\dataitgirls 6\SQL\2차프로젝트 디렉터리

2022-08-28  오전 02:30    <DIR>          .
2022-08-24  오후 03:47    <DIR>          ..
2022-08-27  오전 12:29        36,127,865 articles.csv
2022-08-24  오전 09:40        38,868,304 articles.sql
2022-08-28  오전 02:30       207,135,859 customers.csv
2022-08-24  오전 09:41       226,300,230 customers.sql
2022-08-24  오후 06:57               254 SQL 데이터 탐색 및 전처리.sql
2022-08-24  오전 09:49     3,587,206,729 transactions.sql
2022-08-28  오전 02:30     3,488,002,253 transactions_train.csv
2022-08-11  오후 05:08               107 유용한사이트.txt
2022-08-23  오전 09:38               164 이메일주소.txt
               9개 파일       7,583,641,765 바이트
               2개 디렉터리  62,821,187,584 바이트 남음

In [4]:
articles = pd.read_csv('articles.csv')
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [ ]:
article_cnt = articles.groupby(by=['product_group_name', 'product_type_name']).count()
article_cnt

In [ ]:
article_cnt.product_group_name.unique()

In [ ]:
article_dict = article_cnt.to_dict()

In [ ]:
article_cnt.loc['Accessories'].reset_index()

In [ ]:
articles['prod_name'].nunique()

## articles 분석 계획

1. product_type_name	카테고리명(소분류)
    
    product_group_name	카테고리명(대분류)


2. perceived_colour_master_name	상품의 컬러(대분류)


3. graphical_appearance_name	상품의 패턴명


4. department_name	상품 라인 이름


5. index_name	상품 타겟 그룹 명
    
    index_group_name	타겟에 따른 상품 카테고리
    

6. section_name	상품 무드(콘셉트)


7. garment_group_name	상품군 명

## customer  분석 계획

In [6]:
customers = pd.read_csv('customers.csv')
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [9]:
#전체 행의 개수 및 각 컬럼의 개수 파악
customers.count()

customer_id               1371980
FN                         476930
Active                     464404
club_member_status        1365918
fashion_news_frequency    1355971
age                       1356119
postal_code               1371980
dtype: int64

In [10]:
#클럽멤버상태의 unique값 뽑아보기
customers.club_member_status.unique()

array(['ACTIVE', nan, 'PRE-CREATE', 'LEFT CLUB'], dtype=object)

In [11]:
#패션뉴스를 구독 컬럼의 unique값 뽑아보기
customers.fashion_news_frequency.unique()

array(['NONE', 'Regularly', nan, 'Monthly', 'None'], dtype=object)

In [30]:
#NONE과 None인 값만 가지고와서 작업할 데이터 프레임 만들기 (실행 규모를 줄이기 위함)
n_none=customers[(customers['fashion_news_frequency'] == 'NONE') | (customers['fashion_news_frequency'] == 'None')]
n_none

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
6,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,NaN,NaN,ACTIVE,NONE,20.0,fe7b8e2b3fafb89ca90db17ffeeae0fd29b795d803f749...
...,...,...,...,...,...,...,...
1371968,ffff4c4e8b57b633c1ddf8fbd53db16b962cf831baf9ed...,NaN,NaN,ACTIVE,NONE,40.0,3b4a300713f8b142836a67caa5b6d5b3f10a7650c06820...
1371972,ffff8f9ecdce722b5bab97fff68a6d1866492209bfe524...,NaN,NaN,ACTIVE,NONE,52.0,0de9d1ec7dc785301ca5fbe8949cfc2cfbd77e7a807270...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [38]:
#value_counts()를 통해 None과 NONE의 개수를 파악
n_none.fashion_news_frequency.value_counts()

NONE    877711
None         2
Name: fashion_news_frequency, dtype: int64

In [100]:
#깜빡하고 첨에 확인 안했는데, 원래는 값이 적은 None 을 가지고와서 NONE으로 바꿔줘도 되는지 데이터 살펴봐야함
n_none[n_none['fashion_news_frequency'] == 'None']

Empty DataFrame
Columns: [customer_id, FN, Active, club_member_status, fashion_news_frequency, age, postal_code, False]
Index: []

In [48]:
customers['fashion_news_frequency'][customers['fashion_news_frequency'] == 'None'] = 'NONE'
#None이면 NONE 으로 변경해주라

C:\Users\monam\AppData\Local\Temp/ipykernel_62228/4235207302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['fashion_news_frequency'][customers['fashion_news_frequency'] == 'None'] = 'NONE'

In [51]:
#변수 이름 약간 잘못 지었는데, 암튼 fashion frequency에서 각각의 항목이 얼만큼의 비중을 차지하는지 확인하기 위해 데이터 프레임 생성
#첨에는 데이터프레임 잘 만들어지나 확인하려고 단계적으로 변수에 넣어서 지정
#다음 코드에서는 한 줄에 그냥 나타내도 됨
vc_customers = customers.fashion_news_frequency.value_counts()

In [54]:
#데이터프레임 만들기
vc_customers = pd.DataFrame(vc_customers)

In [55]:
vc_customers

           fashion_news_frequency
NONE                       877713
Regularly                  477416
Monthly                       842

In [74]:
#percentage 컬럼 생성, 컬럼 정의 (백분율입니다)
vc_customers['percentage'] = round((vc_customers['fashion_news_frequency']*100) / sum(vc_customers['fashion_news_frequency'])).astype('str') + '%'
#반올림처리 후 데이터타입을 str으로 바꿔주고, % 기호를 추가하여 더 깔끔하게 보이도록 함

In [75]:
vc_customers
#잡지 구독하는 고객들 비중

           fashion_news_frequency percentage
NONE                       877713      65.0%
Regularly                  477416      35.0%
Monthly                       842       0.0%

In [76]:
#고객 상태는 그냥 한 번에 데이터프레임으로 만들어줌 (만약에 이렇게 확인할 수 있는 컬럼이 더 있었다면 함수로 만들어줬을듯)
status = pd.DataFrame(customers.club_member_status.value_counts())
status

            club_member_status
ACTIVE                 1272491
PRE-CREATE               92960
LEFT CLUB                  467

In [78]:
status['percentage'] = round((status['club_member_status']*100) / sum(status['club_member_status'])).astype('str') + '%'

In [91]:
status.set_index(keys='index')

            club_member_status percentage
index
ACTIVE                 1272491      93.0%
PRE-CREATE               92960       7.0%
LEFT CLUB                  467       0.0%

In [98]:
#customer의 평균 나이
print('cusotmer의 평균 나이: ', round(customers.age.mean(),2), '세')

cusotmer의 평균 나이:  36.39 세