In [1]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [2]:
con = pymysql.connect(host='localhost', user='root', password='root',
                     db='5commerce', charset='utf8',
                     autocommit=True,
                     cursorclass=pymysql.cursors.DictCursor)
cur = con.cursor()

In [3]:
sql = "SELECT * FROM customers"
customers = psql.read_sql(sql, con)
con.close()

/opt/homebrew/Caskroom/miniforge/base/envs/myenv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

# customer.age 중 null 값을 mean값으로 대체하기

In [4]:
customers['age'] = customers['age'].fillna(customers.age.mean())

In [5]:
customers.isna().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                            0
postal_code                    0
dtype: int64

In [6]:
customers.to_csv('customers_new.csv', index = False)